{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include "htmx/partials/navigation_good.html" %}


  <div id="container" class="bg-white">
    <div
    class="flex justify-between fixed top-0 p-8 w-full z-50"
  >
    <div>
      <a
        href="{% url '7' %}"
        class=""
      >
        <button
          type="button"
          class="w-36 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          << Previous
        </button>
      </a>
    </div>
    <div>
        <button
          type="button"
          hx-get="{% url '9' 1 %}"
          hx-target="#container"
          hx-push-url="true"
          class="w-36 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Next >>
        </button>
    </div>
  </div>
  <div aria-hidden="true" class="relative">
    <img src="{% static '3_1.png' %}" alt="" class="h-[600px] w-full object-cover object-top">
    <div class="absolute inset-0 bg-gradient-to-t from-white"></div>
  </div>

  <div class="relative mx-auto -mt-32 max-w-7xl px-4 sm:px-6 sm:pb-24 lg:px-8 overflow-clip">
    <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">HTMX</h2>
      <p class="mt-4 text-gray-500">htmx gives you access to AJAX, CSS Transitions, WebSockets and Server Sent Events directly in HTML, using attributes, so you can build modern user interfaces with the simplicity and power of hypertext</p>
    </div>

    <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-8">
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Small</dt>
        <dd class="mt-2 text-sm text-gray-500">~14k min.gz'd</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Dependency Free</dt>
        <dd class="mt-2 text-sm text-gray-500">Works out of the box on its own.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Extendable</dt>
        <dd class="mt-2 text-sm text-gray-500">Can write plugins to do add features you need.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Reduced Code Size</dt>
        <dd class="mt-2 text-sm text-gray-500">Real world projects have seen 67% reduced codebase.</dd>
        <dd class="mt-2 text-sm text-gray-500">https://htmx.org/essays/a-real-world-react-to-htmx-port/</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">All elements can initiate request</dt>
        <dd class="mt-2 text-sm text-gray-500">Any element can fire off an AJAX request.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Backend Agnostic</dt>
        <dd class="mt-2 text-sm text-gray-500">HTMX doesn't care what your backend is, as long as it returns HTML.</dd>
      </div>
    </dl>
  </div>
</div>

{% endblock content %}