
{% load tailwind_tags %}
{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    {% django_htmx_script %}
    {% tailwind_css %}
    
    
    
    {% block extra_head %}
    {% endblock extra_head%}
  </head>
  {% comment %} https://www.mattlayman.com/blog/2021/how-to-htmx-django/ {% endcomment %}
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

   {% block body %}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      {% block content %}
      {% endblock content %}
    </div>


    {% endblock body %}

    {% block extra_body %}
    {% endblock extra_body %}

  {% include 'partials/modal.html' %}
  {%  include 'partials/messages.html' %}

  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.store('displayModal', {
        on: false,
        showModal() {
          console.log("showModal");
          this.on = true;
        },
        hideModal() {
          console.log("hideModal");
          this.on = false;
          document.getElementById("modal").innerHTML = ''
        },
      })
    })
    </script>

    {% comment %} This script adds HTMX event listeners to show/hide the dialog box {% endcomment %}
    <script>
    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "modal") {
      Alpine.store('displayModal').showModal();
      }
    }),
    htmx.on("htmx:afterOnLoad", (e) =>{
      if(e.detail.target.id == "modal" && !e.detail.xhr.response){
      Alpine.store('displayModal').hideModal();
      }
    })
    htmx.on("htmx:afterOnLoad", (e) =>{
      if(!e.detail.xhr.response){
      Alpine.store('displayModal').hideModal();
      }
    })
    </script>

  </body>
</html>

